body{
    background-color:black;
}
.open{
    width:12%;
    height:100px;
    background-color:#0e0f0f;
    color:white;
    font-size:100px;
    margin-top:39%;
}
h1{
    color:white;
    font-family: 'Sedgwick Ave', cursive;
    text-align:center;
    font-size:40px;
}
.answer{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    
}
.words{
    color:white;
    font-size:40px;
     -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }

}

input{
    height:50px;
    width:250px;
}
#text{
    font-size:40px;
}
.btn{
    display:flex;
    justify-content:center;
}
button{
    width:250px;
}
p{
    margin:0px;
}